### Car sales program:

##### Carry out the following tasks in JupyterLab:

##### Remove all the rows with missing data in “price” from the merged DataFrame created in the previous chapter.

In [1]:
import pandas as pd

car_model_price = pd.read_csv("car_model_price.csv")
car_model_price

     Year        Make    Model Category  Price
0    2021       Acura      ILX    Sedan  26100
1    2021       Acura      RDX      SUV  38400
2    2021       Acura      TLX    Sedan  37500
3    2021  Alfa Romeo   Giulia    Sedan  40350
4    2021  Alfa Romeo  Stelvio      SUV  42350
..    ...         ...      ...      ...    ...
235  2021       Volvo      V60    Wagon  40950
236  2021  Volkswagen   Tiguan      SUV  25245
237  2021       Volvo     XC40      SUV  33700
238  2021       Volvo     XC60      SUV  41700
239  2021       Volvo     XC90      SUV  49000

[240 rows x 5 columns]

In [2]:
car_model_price_clean = car_model_price.dropna(axis = 0, how = 'any')
car_model_price_clean

     Year        Make    Model Category  Price
0    2021       Acura      ILX    Sedan  26100
1    2021       Acura      RDX      SUV  38400
2    2021       Acura      TLX    Sedan  37500
3    2021  Alfa Romeo   Giulia    Sedan  40350
4    2021  Alfa Romeo  Stelvio      SUV  42350
..    ...         ...      ...      ...    ...
235  2021       Volvo      V60    Wagon  40950
236  2021  Volkswagen   Tiguan      SUV  25245
237  2021       Volvo     XC40      SUV  33700
238  2021       Volvo     XC60      SUV  41700
239  2021       Volvo     XC90      SUV  49000

[240 rows x 5 columns]

##### Detect car models that can be considered as outliers in terms of their selling price.

##### Discuss whether the models with extraordinarily high/low selling prices should be excluded from the DataFrame.

In [3]:
q1 = car_model_price_clean['Price'].quantile(q = 0.25)
q3 = car_model_price_clean['Price'].quantile(q = 0.75)
iqr = q3-q1

y1 = q1 - 1.5*iqr
y2 = q3 + 1.5*iqr

print(f"Lower Bound:\n {y1}")
print(f"Upper Bound:\n {y2}")

Lower Bound:
 -1848.75
Upper Bound:
 71991.25

In [4]:
car_outlier = car_model_price_clean[~( 
    (car_model_price_clean["Price"]< y1) | (car_model_price_clean["Price"]> y2)
)]

car_outlier

     Year        Make    Model Category  Price
0    2021       Acura      ILX    Sedan  26100
1    2021       Acura      RDX      SUV  38400
2    2021       Acura      TLX    Sedan  37500
3    2021  Alfa Romeo   Giulia    Sedan  40350
4    2021  Alfa Romeo  Stelvio      SUV  42350
..    ...         ...      ...      ...    ...
235  2021       Volvo      V60    Wagon  40950
236  2021  Volkswagen   Tiguan      SUV  25245
237  2021       Volvo     XC40      SUV  33700
238  2021       Volvo     XC60      SUV  41700
239  2021       Volvo     XC90      SUV  49000

[217 rows x 5 columns]

In [5]:
car_outlier.to_csv("car_outlier.csv", index = False)