### Car sales program:

##### Carry out the following tasks in JupyterLab:
##### Sort the data by “make”, “model” and “year” in the ascending order entirely.

In [1]:
import pandas as pd

car_outlier = pd.read_csv("car_outlier.csv")
car_outlier

     Year        Make    Model Category    Price
0    2021       Acura      ILX    Sedan  26100.0
1    2021       Acura      RDX      SUV  38400.0
2    2021       Acura      TLX    Sedan  37500.0
3    2021  Alfa Romeo   Giulia    Sedan  40350.0
4    2021  Alfa Romeo  Stelvio      SUV  42350.0
..    ...         ...      ...      ...      ...
212  2021       Volvo      V60    Wagon  40950.0
213  2021  Volkswagen   Tiguan      SUV  25245.0
214  2021       Volvo     XC40      SUV  33700.0
215  2021       Volvo     XC60      SUV  41700.0
216  2021       Volvo     XC90      SUV  49000.0

[217 rows x 5 columns]

In [2]:
car_outlier.sort_values(
    by = ['Make', "Model", "Year"], ascending =True   
)

     Year        Make    Model Category    Price
0    2021       Acura      ILX    Sedan  26100.0
1    2021       Acura      RDX      SUV  38400.0
2    2021       Acura      TLX    Sedan  37500.0
3    2021  Alfa Romeo   Giulia    Sedan  40350.0
4    2021  Alfa Romeo  Stelvio      SUV  42350.0
..    ...         ...      ...      ...      ...
212  2021       Volvo      V60    Wagon  40950.0
211  2021       Volvo      V90    Wagon  51800.0
214  2021       Volvo     XC40      SUV  33700.0
215  2021       Volvo     XC60      SUV  41700.0
216  2021       Volvo     XC90      SUV  49000.0

[217 rows x 5 columns]

In [3]:
car_outlier = car_outlier.rename(columns = {'Price':'Price (USD)'})
car_outlier

     Year        Make    Model Category  Price (USD)
0    2021       Acura      ILX    Sedan      26100.0
1    2021       Acura      RDX      SUV      38400.0
2    2021       Acura      TLX    Sedan      37500.0
3    2021  Alfa Romeo   Giulia    Sedan      40350.0
4    2021  Alfa Romeo  Stelvio      SUV      42350.0
..    ...         ...      ...      ...          ...
212  2021       Volvo      V60    Wagon      40950.0
213  2021  Volkswagen   Tiguan      SUV      25245.0
214  2021       Volvo     XC40      SUV      33700.0
215  2021       Volvo     XC60      SUV      41700.0
216  2021       Volvo     XC90      SUV      49000.0

[217 rows x 5 columns]

##### Since the prices stored in the “price” variable are in US dollars, write a program to convert it into SGD. Store the resulting data as a new variable in the same DataFrame.
##### Calculate the mean price (in SGD) of each car brand.

In [4]:
 # Lets assume the exchange rate is USD 1 = SGD 1.34

ex_rate = 1.34

car_outlier['Price (SGD)'] = car_outlier['Price (USD)']*ex_rate

In [5]:
car_outlier

     Year        Make    Model Category  Price (USD)  Price (SGD)
0    2021       Acura      ILX    Sedan      26100.0      34974.0
1    2021       Acura      RDX      SUV      38400.0      51456.0
2    2021       Acura      TLX    Sedan      37500.0      50250.0
3    2021  Alfa Romeo   Giulia    Sedan      40350.0      54069.0
4    2021  Alfa Romeo  Stelvio      SUV      42350.0      56749.0
..    ...         ...      ...      ...          ...          ...
212  2021       Volvo      V60    Wagon      40950.0      54873.0
213  2021  Volkswagen   Tiguan      SUV      25245.0      33828.3
214  2021       Volvo     XC40      SUV      33700.0      45158.0
215  2021       Volvo     XC60      SUV      41700.0      55878.0
216  2021       Volvo     XC90      SUV      49000.0      65660.0

[217 rows x 6 columns]

In [6]:
car_outlier.groupby("Category").mean()

                         Year   Price (USD)   Price (SGD)
Category
Convertible              2021  40625.000000  54437.500000
Convertible,Coupe        2021  59900.000000  80266.000000
Convertible,Sedan,Coupe  2021  52500.000000  70350.000000
Coupe                    2021  37082.857143  49691.028571
Coupe,Convertible        2021  27155.000000  36387.700000
Hatchback                2021  29963.750000  40151.425000
Hatchback,Sedan          2021  19316.666667  25884.333333
Pickup                   2021  34545.769231  46291.330769
SUV                      2021  35972.571429  48203.245714
Sedan                    2021  31501.428571  42211.914286
Van/Minivan              2021  31836.363636  42660.727273
Wagon                    2021  44060.000000  59040.400000
Wagon,Sedan              2021  18795.000000  25185.300000