### Car sales program:

##### Carry out the following tasks in JupyterLab:
##### Since there are many car models (especially their names are complicated and not comparable with each other) in the market, it is rather more important to include “category” than “model” in our analysis later.
##### Remove “model” from the DataFrame.

In [1]:
import pandas as pd
# You can also use the full path C:\Users\blah\blah\blah\blah\car_model_price.csv
#However, note that "/" direction (back-slash)
#If you dont want to worry about this, then use just use (r"C:\Users\blah\blah\blah\blah\car_model_price.csv")

car_model_price = pd.read_csv("../Lecture_4/car_model_price.csv")
car_model_price

     Year        Make    Model Category  Price
0    2021       Acura      ILX    Sedan  26100
1    2021       Acura      RDX      SUV  38400
2    2021       Acura      TLX    Sedan  37500
3    2021  Alfa Romeo   Giulia    Sedan  40350
4    2021  Alfa Romeo  Stelvio      SUV  42350
..    ...         ...      ...      ...    ...
235  2021       Volvo      V60    Wagon  40950
236  2021  Volkswagen   Tiguan      SUV  25245
237  2021       Volvo     XC40      SUV  33700
238  2021       Volvo     XC60      SUV  41700
239  2021       Volvo     XC90      SUV  49000

[240 rows x 5 columns]

In [2]:
car_dropmodel_price = car_model_price.drop("Model", axis = 1)
car_dropmodel_price

     Year        Make Category  Price
0    2021       Acura    Sedan  26100
1    2021       Acura      SUV  38400
2    2021       Acura    Sedan  37500
3    2021  Alfa Romeo    Sedan  40350
4    2021  Alfa Romeo      SUV  42350
..    ...         ...      ...    ...
235  2021       Volvo    Wagon  40950
236  2021  Volkswagen      SUV  25245
237  2021       Volvo      SUV  33700
238  2021       Volvo      SUV  41700
239  2021       Volvo      SUV  49000

[240 rows x 4 columns]

##### Reduce the categories in “category” by assigning each car to a SOLE category if it has more than one in the original dataset such as “Convertible, Coupe” or “Coupe, Convertible”.

We should firstly determine how many cells are unique and what the unique values are. In order to do this, we can use the "get_Dummies" approach

In [3]:
car_dropmodel_price["Category"].str.get_dummies(sep=', ').sum()

Convertible                  4
Convertible,Coupe            1
Convertible,Sedan,Coupe      1
Coupe                        7
Coupe,Convertible            3
Hatchback                   12
Hatchback,Sedan              3
Pickup                      28
SUV                        118
Sedan                       47
Van/Minivan                 11
Wagon                        4
Wagon,Sedan                  1
dtype: int64

Well, there are a lot of categories, and I can see the ones with multiple categories have a comma in them (if they have 2 or more) categories. So it perhaps makes sense of split along that.

In [6]:
split_data = car_dropmodel_price["Category"].str.split(",")
data = split_data.to_list()
data

[['Sedan'],
 ['SUV'],
 ['Sedan'],
 ['Sedan'],
 ['SUV'],
 ['Wagon'],
 ['Sedan'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['Convertible', 'Sedan', 'Coupe'],
 ['Sedan'],
 ['Sedan'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['Sedan'],
 ['Sedan'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['Hatchback'],
 ['Coupe'],
 ['Pickup'],
 ['Pickup'],
 ['Convertible', 'Coupe'],
 ['Van/Minivan'],
 ['SUV'],
 ['Sedan'],
 ['Pickup'],
 ['Pickup'],
 ['Pickup'],
 ['Pickup'],
 ['Pickup'],
 ['Hatchback'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['Sedan'],
 ['Van/Minivan'],
 ['Van/Minivan'],
 ['Coupe'],
 ['SUV'],
 ['Sedan'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['Pickup'],
 ['Pickup'],
 ['Coupe', 'Convertible'],
 ['Pickup'],
 ['Van/Minivan'],
 ['Sedan'],
 ['Sedan'],
 ['Sedan'],
 ['SUV'],
 ['SUV'],
 ['Pickup'],
 ['Pickup'],
 ['Pickup'],
 ['Pickup'],
 ['Pickup'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['Sedan'],
 ['Sedan'],
 ['Hatchback', 'Sedan'],
 ['Hatchback'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['Sedan'],
 ['Van/Minivan'],
 ['SUV'],
 ['Pickup'],
 ['SUV'],
 ['Sedan'],
 ['Sedan'],
 ['Hatchback'],
 ['Hatchback'],
 ['Hatchback'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['Sedan'],
 ['Sedan'],
 ['Coupe'],
 ['SUV'],
 ['SUV'],
 ['Sedan'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['Pickup'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['Sedan'],
 ['Sedan'],
 ['Hatchback', 'Sedan'],
 ['SUV'],
 ['SUV'],
 ['Wagon'],
 ['SUV'],
 ['Sedan'],
 ['SUV'],
 ['SUV'],
 ['Van/Minivan'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['Sedan'],
 ['SUV'],
 ['Sedan'],
 ['Coupe', 'Convertible'],
 ['Sedan'],
 ['SUV'],
 ['SUV'],
 ['Coupe'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['Sedan'],
 ['Hatchback', 'Sedan'],
 ['Convertible'],
 ['Convertible'],
 ['Coupe'],
 ['Sedan'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['Sedan'],
 ['Pickup'],
 ['Pickup'],
 ['SUV'],
 ['Hatchback'],
 ['Sedan'],
 ['SUV'],
 ['Van/Minivan'],
 ['SUV'],
 ['Sedan'],
 ['Pickup'],
 ['Sedan'],
 ['Hatchback'],
 ['Convertible'],
 ['Coupe'],
 ['SUV'],
 ['Convertible'],
 ['Coupe', 'Convertible'],
 ['SUV'],
 ['Sedan'],
 ['Sedan'],
 ['SUV'],
 ['Pickup'],
 ['Pickup'],
 ['Van/Minivan'],
 ['Van/Minivan'],
 ['Pickup'],
 ['SUV'],
 ['SUV'],
 ['Pickup'],
 ['Van/Minivan'],
 ['SUV'],
 ['Wagon', 'Sedan'],
 ['SUV'],
 ['Sedan'],
 ['SUV'],
 ['Sedan'],
 ['SUV'],
 ['SUV'],
 ['Sedan'],
 ['Sedan'],
 ['Sedan'],
 ['Sedan'],
 ['SUV'],
 ['Sedan'],
 ['Hatchback'],
 ['Sedan'],
 ['Coupe'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['Hatchback'],
 ['Hatchback'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['Van/Minivan'],
 ['Pickup'],
 ['Pickup'],
 ['Pickup'],
 ['Pickup'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['Sedan'],
 ['Hatchback'],
 ['Sedan'],
 ['Sedan'],
 ['Wagon'],
 ['Wagon'],
 ['SUV'],
 ['SUV'],
 ['SUV'],
 ['SUV']]

In [7]:

names = ["a", "b", "c"]
new_df = pd.DataFrame(data, columns=names).drop(['b','c'], axis = 1)
new_df.head()

       a
0  Sedan
1    SUV
2  Sedan
3  Sedan
4    SUV

So my new temp column 'a' now has a single category each (look at row 4 for instance)

In [8]:
car_dropmodel_price= pd.concat([car_dropmodel_price, new_df], axis = 1)
car_dropmodel_price = car_dropmodel_price.drop(['Category'], axis = 1)
car_dropmodel_price.rename(columns = {'a':'Category'}, inplace = True)
car_dropmodel_price

     Year        Make  Price Category
0    2021       Acura  26100    Sedan
1    2021       Acura  38400      SUV
2    2021       Acura  37500    Sedan
3    2021  Alfa Romeo  40350    Sedan
4    2021  Alfa Romeo  42350      SUV
..    ...         ...    ...      ...
235  2021       Volvo  40950    Wagon
236  2021  Volkswagen  25245      SUV
237  2021       Volvo  33700      SUV
238  2021       Volvo  41700      SUV
239  2021       Volvo  49000      SUV

[240 rows x 4 columns]

In [9]:
car_dropmodel_price["Category"].str.get_dummies(sep=', ').sum()

Convertible      6
Coupe           10
Hatchback       15
Pickup          28
SUV            118
Sedan           47
Van/Minivan     11
Wagon            5
dtype: int64

Upon checking most are correct, except for "Van/Minivan", which is NOT seperated by a comma. That has to be replaced as well

If you have other weird data like "SUV1992" & "SUV2020", than state your assumption that you can categorise them both as "SUV". While this data set does not have this, it is conceivable that some data sets fo contain VARIATIONS of the same word form. You do need to check this as well

In [10]:
car_dropmodel_price['Category'] = car_dropmodel_price['Category'].str.replace('Van/Minivan', 'Van')
#car_dropmodel_price['Category'] = car_dropmodel_price['Category'].str.replace('SUV1992', 'SUV')
#car_dropmodel_price['Category'] = car_dropmodel_price['Category'].str.replace('SUV2020', 'SUV')
car_dropmodel_price["Category"].str.get_dummies(sep=', ').sum()

Convertible      6
Coupe           10
Hatchback       15
Pickup          28
SUV            118
Sedan           47
Van             11
Wagon            5
dtype: int64

At this stage, the data set is clean and ready for the next stage. This is a good place to create a checkpoint file

In [11]:
car_dropmodel_price.to_csv("car_dropmodel_price.csv", index = False)

##### Create a training and a testing dataset. The proportion here should be 0.7:0.3 and the random state should be set to 0.

In [12]:
# Sklearn Liraries
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

##### Now we will create a train: test data set. Actually, in machine learning, you need 3 sets called a "train", "test" and "validate" set. 

1) Training Dataset: The sample of data used to fit the model.

2) Test Dataset: The sample of data used to provide an unbiased evaluation of a model fit on the training dataset while tuning model hyperparameters. The evaluation becomes more biased as skill on the test dataset is incorporated into the model configuration.

3) Validation Dataset (also known as an "out-of-sample" test set: The sample of data used to provide an unbiased evaluation of a final model fit on the training dataset. A validation dataset is often newly collected data you want to put through your machine learning model

(I wont cover how to get this, here because I dont want to deviate from your lessons, but note such things do exist)

##### There are 2 stages that you need to do when you want to crete a train-test split. The first stage is known as feature selection

In [13]:
# Feature Selection on data frame

#Create a copy
car_train_test_set=car_dropmodel_price.copy()

Feature = car_train_test_set[[
    'Year', 
    'Make', 
    'Category',
]]
x=Feature

y = car_train_test_set['Price'].values

print(x.head())
print(y[0:5])
print(x.shape, y.shape)

   Year        Make Category
0  2021       Acura    Sedan
1  2021       Acura      SUV
2  2021       Acura    Sedan
3  2021  Alfa Romeo    Sedan
4  2021  Alfa Romeo      SUV
[26100 38400 37500 40350 42350]
(240, 3) (240,)

##### Now we do the train test split proper. A random state of "0" is simply a seed to the random generator, so that your train-test splits are always deterministic. If you don't set a seed, it is different each time.

In [14]:
random_state = 0
test_size = 0.3

x_train, x_test, y_train, y_test  = train_test_split(
            x, y, test_size = test_size, random_state = random_state
)

print('Train Set: ', x_train.shape, y_train.shape)
print(x_train['Make'][0:5])
print("\n")
print('Test Set: ', x_test.shape, y_test.shape)
print(x_test['Make'][0:5])

Train Set:  (168, 3) (168,)
61         Ford
210      Toyota
52        Dodge
66         Ford
26     Cadillac
Name: Make, dtype: object


Test Set:  (72, 3) (72,)
109     INFINITI
71           GMC
37     Chevrolet
74           GMC
108       Jaguar
Name: Make, dtype: object

##### Now I am going to teach you something new, called "pickling", which is basically a way to convert an object in memory to a byte stream that can be stored on disk or sent over a network. Useful within python, but should not be used across different programming languages

In [15]:
import pickle
# Pickle all sets and models

# Train and Test Set
with open('x_train', 'wb') as file:
    pickle.dump(x_train, file)
with open('x_test', 'wb') as file:
    pickle.dump(x_test, file)
with open('y_train', 'wb') as file:
    pickle.dump(y_train, file)
with open('y_test', 'wb') as file:
    pickle.dump(y_test, file)

For completeness this is how you now "unpickle" or extract the data you need

In [16]:
# Unpickle all the training and testing data sets

x_train = pickle.load(open("x_train", "rb"))
print('x Training Set: ', x_train[0:5])
print('Shape x Training Set: ', x_train.shape)
print('\n')

x_test = pickle.load(open("x_test", "rb"))
print('x Testing Set: ', x_test[0:5])
print('Shape x Testing Set: ', x_test.shape)
print('\n')

y_train  = pickle.load(open("y_train", "rb"))
#print('Y Training Set: ', y_train[0:5])
#print('Shape Y Training Set: ', y_train.shape)
#print('\n')

y_test  = pickle.load(open("y_test", "rb"))
#print('Y Testing Set: ', y_test[0:5])
#print('Shape Y Testing Set: ', y_test.shape)

x Training Set:       Year      Make   Category
61   2021      Ford        SUV
210  2021    Toyota  Hatchback
52   2021     Dodge        SUV
66   2021      Ford        Van
26   2021  Cadillac        SUV
Shape x Training Set:  (168, 3)


x Testing Set:       Year       Make Category
109  2021   INFINITI      SUV
71   2021        GMC      SUV
37   2021  Chevrolet   Pickup
74   2021        GMC   Pickup
108  2021     Jaguar      SUV
Shape x Testing Set:  (72, 3)