In [2]:
import pandas as pd

First activity

In [3]:
car_model = pd.read_csv("C:/Users/alfredkohpy/car_model.csv")

In [4]:
print(car_model)

      Year        Make              Model            Category
0     2020        Audi                 Q3                 SUV
1     2020   Chevrolet             Malibu               Sedan
2     2020    Cadillac       Escalade ESV                 SUV
3     2020   Chevrolet           Corvette  Coupe, Convertible
4     2020       Acura                RLX               Sedan
...    ...         ...                ...                 ...
9831  2022  Mitsubishi      Eclipse Cross                 SUV
9832  2022      Nissan  Frontier Crew Cab              Pickup
9833  2022      Nissan         Pathfinder                 SUV
9834  2022      Subaru                BRZ               Coupe
9835  2022  Volkswagen             Tiguan                 SUV

[9836 rows x 4 columns]

In [12]:
car_model.tail(10)

      Year           Make              Model Category
9826  2022          Honda              Civic    Sedan
9827  2022           Jeep     Grand Wagoneer      SUV
9828  2022        Hyundai             Tucson      SUV
9829  2022            Kia            Sorento      SUV
9830  2022  Mercedes-Benz            C-Class    Coupe
9831  2022     Mitsubishi      Eclipse Cross      SUV
9832  2022         Nissan  Frontier Crew Cab   Pickup
9833  2022         Nissan         Pathfinder      SUV
9834  2022         Subaru                BRZ    Coupe
9835  2022     Volkswagen             Tiguan      SUV

In [8]:
display(car_model)

      Year        Make              Model            Category
0     2020        Audi                 Q3                 SUV
1     2020   Chevrolet             Malibu               Sedan
2     2020    Cadillac       Escalade ESV                 SUV
3     2020   Chevrolet           Corvette  Coupe, Convertible
4     2020       Acura                RLX               Sedan
...    ...         ...                ...                 ...
9831  2022  Mitsubishi      Eclipse Cross                 SUV
9832  2022      Nissan  Frontier Crew Cab              Pickup
9833  2022      Nissan         Pathfinder                 SUV
9834  2022      Subaru                BRZ               Coupe
9835  2022  Volkswagen             Tiguan                 SUV

[9836 rows x 4 columns]

In [13]:
car_model.set_index(['Year'], inplace = True)

In [9]:
car_model.head(20)

    Year       Make                       Model            Category
0   2020       Audi                          Q3                 SUV
1   2020  Chevrolet                      Malibu               Sedan
2   2020   Cadillac                Escalade ESV                 SUV
3   2020  Chevrolet                    Corvette  Coupe, Convertible
4   2020      Acura                         RLX               Sedan
5   2020  Chevrolet  Silverado 2500 HD Crew Cab              Pickup
6   2020        BMW                    3 Series               Sedan
7   2020   Chrysler                    Pacifica         Van/Minivan
8   2020  Chevrolet           Colorado Crew Cab              Pickup
9   2020        BMW                          X3                 SUV
10  2020      Acura                         TLX               Sedan
11  2020  Chevrolet  Silverado 3500 HD Crew Cab              Pickup
12  2020        BMW                    7 Series               Sedan
13  2020       Ford                      Fusion               Sedan
14  2020      Buick                    Envision                 SUV
15  2020       Audi                         SQ5                 SUV
16  2020       Audi                          R8  Coupe, Convertible
17  2020  Chevrolet                    Traverse                 SUV
18  2020      Acura                         MDX                 SUV
19  2020   INFINITI                        QX80                 SUV

In [10]:
car_model.tail(20)

      Year           Make              Model   Category
9816  2021          Volvo                V60      Wagon
9817  2021     Volkswagen             Tiguan        SUV
9818  2021          Volvo               XC40        SUV
9819  2021          Volvo               XC60        SUV
9820  2021          Volvo               XC90        SUV
9821  2022          Acura                MDX        SUV
9822  2022      Chevrolet            Bolt EV  Hatchback
9823  2022      Chevrolet            Equinox        SUV
9824  2022      Chevrolet           Traverse        SUV
9825  2022            GMC          Hummer EV     Pickup
9826  2022          Honda              Civic      Sedan
9827  2022           Jeep     Grand Wagoneer        SUV
9828  2022        Hyundai             Tucson        SUV
9829  2022            Kia            Sorento        SUV
9830  2022  Mercedes-Benz            C-Class      Coupe
9831  2022     Mitsubishi      Eclipse Cross        SUV
9832  2022         Nissan  Frontier Crew Cab     Pickup
9833  2022         Nissan         Pathfinder        SUV
9834  2022         Subaru                BRZ      Coupe
9835  2022     Volkswagen             Tiguan        SUV

In [42]:
#check the number of rows
len(car_model)

9836

In [44]:
#check the number of columns
len(car_model.columns)

4

# Second activity

In [17]:
car_model["Make"]

0             Audi
1        Chevrolet
2         Cadillac
3        Chevrolet
4            Acura
           ...
9831    Mitsubishi
9832        Nissan
9833        Nissan
9834        Subaru
9835    Volkswagen
Name: Make, Length: 9836, dtype: object

In [19]:
car_model[car_model['Make'] == 'Audi']

      Year  Make Model                 Category
0     2020  Audi    Q3                      SUV
15    2020  Audi   SQ5                      SUV
16    2020  Audi    R8       Coupe, Convertible
27    2020  Audi    Q5                      SUV
41    2020  Audi    A7                    Sedan
...    ...   ...   ...                      ...
9588  2021  Audi    Q3                      SUV
9589  2021  Audi    Q5                      SUV
9590  2021  Audi    Q8                      SUV
9591  2021  Audi    S5  Convertible,Sedan,Coupe
9592  2021  Audi    S6                    Sedan

[299 rows x 4 columns]

In [22]:
car_model["Make"][car_model['Make'] == 'Audi']

0       Audi
15      Audi
16      Audi
27      Audi
41      Audi
        ...
9588    Audi
9589    Audi
9590    Audi
9591    Audi
9592    Audi
Name: Make, Length: 299, dtype: object

In [27]:
car_model.tail(10)["Year"]

9826    2022
9827    2022
9828    2022
9829    2022
9830    2022
9831    2022
9832    2022
9833    2022
9834    2022
9835    2022
Name: Year, dtype: int64

3rd activity

In [4]:
car_model = pd.read_csv('./car_model.csv', na_values='na_string', na_filter=True)
car_price = pd.read_csv('./car_price.csv', na_values='na_string', na_filter=True)
car_price_model = car_model.merge(car_price, how='inner', on=['Year', 'Make', 'Model'])
car_price_model.dropna(axis=0, how='any')

     Year        Make    Model Category  Price
0    2021       Acura      ILX    Sedan  26100
1    2021       Acura      RDX      SUV  38400
2    2021       Acura      TLX    Sedan  37500
3    2021  Alfa Romeo   Giulia    Sedan  40350
4    2021  Alfa Romeo  Stelvio      SUV  42350
..    ...         ...      ...      ...    ...
235  2021       Volvo      V60    Wagon  40950
236  2021  Volkswagen   Tiguan      SUV  25245
237  2021       Volvo     XC40      SUV  33700
238  2021       Volvo     XC60      SUV  41700
239  2021       Volvo     XC90      SUV  49000

[240 rows x 5 columns]

In [6]:
car_price_model.head()

   Year        Make    Model Category  Price
0  2021       Acura      ILX    Sedan  26100
1  2021       Acura      RDX      SUV  38400
2  2021       Acura      TLX    Sedan  37500
3  2021  Alfa Romeo   Giulia    Sedan  40350
4  2021  Alfa Romeo  Stelvio      SUV  42350

4th activity

In [8]:
clean = car_price_model.dropna(subset=['Price'])

In [9]:
#confirm no missing values
clean['Price'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
235    False
236    False
237    False
238    False
239    False
Name: Price, Length: 240, dtype: bool

In [10]:
# get the 25th percentile, and the 75th percentile
q1 = clean['Price'].quantile(.25)
q3 = clean['Price'].quantile(.75)

In [11]:
# get the interquartile range
iqr = q3 - q1

In [12]:
# not considered outliers
clean[ ~( (clean['Price']< q1 - 1.5*iqr) | (clean['Price']> q3 + 1.5*iqr) ) ]

     Year        Make    Model Category  Price
0    2021       Acura      ILX    Sedan  26100
1    2021       Acura      RDX      SUV  38400
2    2021       Acura      TLX    Sedan  37500
3    2021  Alfa Romeo   Giulia    Sedan  40350
4    2021  Alfa Romeo  Stelvio      SUV  42350
..    ...         ...      ...      ...    ...
235  2021       Volvo      V60    Wagon  40950
236  2021  Volkswagen   Tiguan      SUV  25245
237  2021       Volvo     XC40      SUV  33700
238  2021       Volvo     XC60      SUV  41700
239  2021       Volvo     XC90      SUV  49000

[217 rows x 5 columns]

In [13]:
# considered outliers
clean[( (clean['Price']< q1 - 1.5*iqr) | (clean['Price']> q3 + 1.5*iqr) )]

,Year,Make,Model,Category,Price
11,2021,Audi,S6,Sedan,74400
16,2021,BMW,X7,SUV,74900
23,2021,Cadillac,Escalade,SUV,76195
24,2021,Cadillac,Escalade ESV,SUV,79195
41,2021,Chevrolet,Silverado 3500 HD Crew Cab,Pickup,80000
69,2021,Genesis,G90,Sedan,72950
130,2021,Land Rover,Range Rover,SUV,92000
136,2021,Lexus,LC,"Coupe,Convertible",93050
137,2021,Lexus,LS,Sedan,76000
138,2021,Lexus,LX,SUV,86830
146,2021,Lincoln,Navigator,SUV,76750
147,2021,Lincoln,Navigator L,SUV,85715
159,2021,Mercedes-Benz,G-Class,SUV,131750
164,2021,Mercedes-Benz,Mercedes-AMG G-Class,SUV,160000
181,2021,Porsche,718 Spyder,Convertible,97300
182,2021,Porsche,911,"Coupe,Convertible",99200
184,2021,Porsche,Taycan,Sedan,79900
185,2021,Porsche,Panamera,Sedan,87200
186,2021,Porsche,Cayenne Coupe,SUV,76500
192,2021,Rivian,R1S,SUV,77500
194,2021,Rivian,R1T,Pickup,75000
202,2021,Tesla,Model X,SUV,79990
215,2021,Toyota,Land Cruiser,SUV,85665