# First activity

In [30]:
import pandas as pd
car_model = pd.read_csv("E:/Temp for filing/ANL 252 for Chelsea (Prepared by Alfred)/Codes/SU4/car_model.csv")

In [16]:
print(car_model)

     Year        Make    Model Category
0    2021       Acura      ILX    Sedan
1    2021       Acura      RDX      SUV
2    2021       Acura      TLX    Sedan
3    2021  Alfa Romeo   Giulia    Sedan
4    2021  Alfa Romeo  Stelvio      SUV
..    ...         ...      ...      ...
235  2021       Volvo      V60    Wagon
236  2021  Volkswagen   Tiguan      SUV
237  2021       Volvo     XC40      SUV
238  2021       Volvo     XC60      SUV
239  2021       Volvo     XC90      SUV

[240 rows x 4 columns]

In [17]:
car_model.tail(10)

     Year        Make   Model   Category
230  2021  Volkswagen   Jetta      Sedan
231  2021  Volkswagen    Golf  Hatchback
232  2021  Volkswagen  Passat      Sedan
233  2021       Volvo     S90      Sedan
234  2021       Volvo     V90      Wagon
235  2021       Volvo     V60      Wagon
236  2021  Volkswagen  Tiguan        SUV
237  2021       Volvo    XC40        SUV
238  2021       Volvo    XC60        SUV
239  2021       Volvo    XC90        SUV

In [18]:
display(car_model)

     Year        Make    Model Category
0    2021       Acura      ILX    Sedan
1    2021       Acura      RDX      SUV
2    2021       Acura      TLX    Sedan
3    2021  Alfa Romeo   Giulia    Sedan
4    2021  Alfa Romeo  Stelvio      SUV
..    ...         ...      ...      ...
235  2021       Volvo      V60    Wagon
236  2021  Volkswagen   Tiguan      SUV
237  2021       Volvo     XC40      SUV
238  2021       Volvo     XC60      SUV
239  2021       Volvo     XC90      SUV

[240 rows x 4 columns]

In [32]:
car_model.set_index(['Year'], inplace = True)

In [20]:
car_model.head(20)

            Make       Model                 Category
Year
2021       Acura         ILX                    Sedan
2021       Acura         RDX                      SUV
2021       Acura         TLX                    Sedan
2021  Alfa Romeo      Giulia                    Sedan
2021  Alfa Romeo     Stelvio                      SUV
2021        Audi  A6 allroad                    Wagon
2021        Audi          A7                    Sedan
2021        Audi          Q3                      SUV
2021        Audi          Q5                      SUV
2021        Audi          Q8                      SUV
2021        Audi          S5  Convertible,Sedan,Coupe
2021        Audi          S6                    Sedan
2021         BMW    3 Series                    Sedan
2021         BMW          X1                      SUV
2021         BMW          X3                      SUV
2021         BMW          X5                      SUV
2021         BMW          X7                      SUV
2021       Buick     Enclave                      SUV
2021       Buick      Encore                      SUV
2021       Buick   Encore GX                      SUV

In [21]:
car_model.tail(20)

            Make              Model     Category
Year
2021      Toyota         RAV4 Prime          SUV
2021      Toyota            Sequoia          SUV
2021      Toyota             Sienna  Van/Minivan
2021      Toyota  Tacoma Access Cab       Pickup
2021      Toyota  Tacoma Double Cab       Pickup
2021      Toyota     Tundra CrewMax       Pickup
2021      Toyota  Tundra Double Cab       Pickup
2021      Toyota              Venza          SUV
2021  Volkswagen              Atlas          SUV
2021  Volkswagen  Atlas Cross Sport          SUV
2021  Volkswagen              Jetta        Sedan
2021  Volkswagen               Golf    Hatchback
2021  Volkswagen             Passat        Sedan
2021       Volvo                S90        Sedan
2021       Volvo                V90        Wagon
2021       Volvo                V60        Wagon
2021  Volkswagen             Tiguan          SUV
2021       Volvo               XC40          SUV
2021       Volvo               XC60          SUV
2021       Volvo               XC90          SUV

In [22]:
#check the number of rows
len(car_model)

240

In [23]:
#check the number of columns
len(car_model.columns)

3

# Second activity

In [34]:
import pandas as pd
car_model = pd.read_csv("E:/Temp for filing/ANL 252 for Chelsea (Prepared by Alfred)/Codes/SU4/car_model.csv")


car_model["Make"]

0           Acura
1           Acura
2           Acura
3      Alfa Romeo
4      Alfa Romeo
          ...
235         Volvo
236    Volkswagen
237         Volvo
238         Volvo
239         Volvo
Name: Make, Length: 240, dtype: object

In [37]:
car_model[car_model['Make'] == 'Audi']

    Year  Make       Model                 Category
5   2021  Audi  A6 allroad                    Wagon
6   2021  Audi          A7                    Sedan
7   2021  Audi          Q3                      SUV
8   2021  Audi          Q5                      SUV
9   2021  Audi          Q8                      SUV
10  2021  Audi          S5  Convertible,Sedan,Coupe
11  2021  Audi          S6                    Sedan

In [38]:
car_model["Make"][car_model['Make'] == 'Audi']

5     Audi
6     Audi
7     Audi
8     Audi
9     Audi
10    Audi
11    Audi
Name: Make, dtype: object

In [39]:
car_model.tail(10)["Year"]

230    2021
231    2021
232    2021
233    2021
234    2021
235    2021
236    2021
237    2021
238    2021
239    2021
Name: Year, dtype: int64

# Third activity

In [73]:
car_model = pd.read_csv('./car_model.csv', na_values='na_string', na_filter=True)
car_model.head(5)

   Year        Make    Model Category
0  2021       Acura      ILX    Sedan
1  2021       Acura      RDX      SUV
2  2021       Acura      TLX    Sedan
3  2021  Alfa Romeo   Giulia    Sedan
4  2021  Alfa Romeo  Stelvio      SUV

In [74]:
car_price_model = pd.read_csv('./car_price_model.csv', na_values='na_string', na_filter=True)
car_price_model.head(5)

   Year        Make    Model    Price
0  2021       Acura      ILX      NaN
1  2021       Acura      RDX      NaN
2  2021       Acura      TLX  37500.0
3  2021  Alfa Romeo   Giulia  40350.0
4  2021  Alfa Romeo  Stelvio  42350.0

In [78]:
# Join the two datasets using inner joins
car_joined_model = car_model.merge(car_price_model, how='inner', on=['Year', 'Make', 'Model'])
#car_joined_model.dropna(axis=0, how='any')
car_joined_model

     Year        Make    Model Category    Price
0    2021       Acura      ILX    Sedan      NaN
1    2021       Acura      RDX      SUV      NaN
2    2021       Acura      TLX    Sedan  37500.0
3    2021  Alfa Romeo   Giulia    Sedan  40350.0
4    2021  Alfa Romeo  Stelvio      SUV  42350.0
..    ...         ...      ...      ...      ...
235  2021       Volvo      V60    Wagon  40950.0
236  2021  Volkswagen   Tiguan      SUV  25245.0
237  2021       Volvo     XC40      SUV  33700.0
238  2021       Volvo     XC60      SUV  41700.0
239  2021       Volvo     XC90      SUV  49000.0

[240 rows x 5 columns]

# Fourth activity

In [81]:
# check for nulls in the Price field
car_joined_model['Price'].isnull()

0       True
1       True
2      False
3      False
4      False
       ...
235    False
236    False
237    False
238    False
239    False
Name: Price, Length: 240, dtype: bool

In [82]:
clean = car_joined_model.dropna(subset=['Price'])
clean

     Year        Make       Model Category    Price
2    2021       Acura         TLX    Sedan  37500.0
3    2021  Alfa Romeo      Giulia    Sedan  40350.0
4    2021  Alfa Romeo     Stelvio      SUV  42350.0
5    2021        Audi  A6 allroad    Wagon  65900.0
6    2021        Audi          A7    Sedan  69200.0
..    ...         ...         ...      ...      ...
235  2021       Volvo         V60    Wagon  40950.0
236  2021  Volkswagen      Tiguan      SUV  25245.0
237  2021       Volvo        XC40      SUV  33700.0
238  2021       Volvo        XC60      SUV  41700.0
239  2021       Volvo        XC90      SUV  49000.0

[238 rows x 5 columns]

In [79]:
#confirm no missing values
clean['Price'].isnull()

2      False
3      False
4      False
5      False
6      False
       ...
235    False
236    False
237    False
238    False
239    False
Name: Price, Length: 238, dtype: bool

In [87]:
# get the 25th percentile, and the 75th percentile
q1 = clean['Price'].quantile(.25)
q3 = clean['Price'].quantile(.75)

In [88]:
# get the interquartile range
iqr = q3 - q1

In [99]:
# list statuses of all prices: True means not an oulier
# note: & is a bitwise AND operator
(clean['Price'] > q1 - 1.5*iqr) & (clean['Price'] < q3 + 1.5*iqr)

2      True
3      True
4      True
5      True
6      True
       ...
235    True
236    True
237    True
238    True
239    True
Name: Price, Length: 238, dtype: bool

In [102]:
# show records with normal prices (there are 216 records)
clean[(clean['Price'] > q1 - 1.5*iqr) & (clean['Price'] < q3 + 1.5*iqr)]

     Year        Make       Model Category    Price
2    2021       Acura         TLX    Sedan  37500.0
3    2021  Alfa Romeo      Giulia    Sedan  40350.0
4    2021  Alfa Romeo     Stelvio      SUV  42350.0
5    2021        Audi  A6 allroad    Wagon  65900.0
6    2021        Audi          A7    Sedan  69200.0
..    ...         ...         ...      ...      ...
235  2021       Volvo         V60    Wagon  40950.0
236  2021  Volkswagen      Tiguan      SUV  25245.0
237  2021       Volvo        XC40      SUV  33700.0
238  2021       Volvo        XC60      SUV  41700.0
239  2021       Volvo        XC90      SUV  49000.0

[216 rows x 5 columns]

In [103]:
# show records outside normal prices
# Python's Tilde ~n operator is the bitwise negation operator: 
# it takes the number n as binary number and “flips” all bits 0 to 1 and 1 to 0 to obtain the complement binary number.
# For example, the tilde operation ~1 becomes 0 and ~0 becomes 1 and ~101 becomes 010

clean[~((clean['Price'] > q1 - 1.5*iqr) & (clean['Price'] < q3 + 1.5*iqr))]

,Year,Make,Model,Category,Price
11,2021,Audi,S6,Sedan,74400.0
16,2021,BMW,X7,SUV,74900.0
23,2021,Cadillac,Escalade,SUV,76195.0
24,2021,Cadillac,Escalade ESV,SUV,79195.0
41,2021,Chevrolet,Silverado 3500 HD Crew Cab,Pickup,80000.0
130,2021,Land Rover,Range Rover,SUV,92000.0
136,2021,Lexus,LC,"Coupe,Convertible",93050.0
137,2021,Lexus,LS,Sedan,76000.0
138,2021,Lexus,LX,SUV,86830.0
146,2021,Lincoln,Navigator,SUV,76750.0
147,2021,Lincoln,Navigator L,SUV,85715.0
159,2021,Mercedes-Benz,G-Class,SUV,131750.0
164,2021,Mercedes-Benz,Mercedes-AMG G-Class,SUV,160000.0
181,2021,Porsche,718 Spyder,Convertible,97300.0
182,2021,Porsche,911,"Coupe,Convertible",99200.0
184,2021,Porsche,Taycan,Sedan,79900.0
185,2021,Porsche,Panamera,Sedan,87200.0
186,2021,Porsche,Cayenne Coupe,SUV,76500.0
192,2021,Rivian,R1S,SUV,77500.0
194,2021,Rivian,R1T,Pickup,75000.0
202,2021,Tesla,Model X,SUV,79990.0
215,2021,Toyota,Land Cruiser,SUV,85665.0

# Fifth Activity

In [104]:
import pandas as pd
car_price_model = pd.read_csv("./car_price_model.csv")

In [105]:
car_price_model

     Year        Make    Model    Price
0    2021       Acura      ILX      NaN
1    2021       Acura      RDX      NaN
2    2021       Acura      TLX  37500.0
3    2021  Alfa Romeo   Giulia  40350.0
4    2021  Alfa Romeo  Stelvio  42350.0
..    ...         ...      ...      ...
235  2021       Volvo      V60  40950.0
236  2021  Volkswagen   Tiguan  25245.0
237  2021       Volvo     XC40  33700.0
238  2021       Volvo     XC60  41700.0
239  2021       Volvo     XC90  49000.0

[240 rows x 4 columns]

In [106]:
# Drop the rows where at least one element is missing.
car_price_model = car_price_model.dropna()
car_price_model

     Year        Make       Model    Price
2    2021       Acura         TLX  37500.0
3    2021  Alfa Romeo      Giulia  40350.0
4    2021  Alfa Romeo     Stelvio  42350.0
5    2021        Audi  A6 allroad  65900.0
6    2021        Audi          A7  69200.0
..    ...         ...         ...      ...
235  2021       Volvo         V60  40950.0
236  2021  Volkswagen      Tiguan  25245.0
237  2021       Volvo        XC40  33700.0
238  2021       Volvo        XC60  41700.0
239  2021       Volvo        XC90  49000.0

[238 rows x 4 columns]

In [107]:
# Add a new column named SGD Price 1.5 times of the Price
car_price_model['SGD Price'] = car_price_model['Price']*1.5   
car_price_model

C:\Users\jamestan\AppData\Local\Temp/ipykernel_13340/2935792358.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_price_model['SGD Price'] = car_price_model['Price']*1.5

     Year        Make       Model    Price  SGD Price
2    2021       Acura         TLX  37500.0    56250.0
3    2021  Alfa Romeo      Giulia  40350.0    60525.0
4    2021  Alfa Romeo     Stelvio  42350.0    63525.0
5    2021        Audi  A6 allroad  65900.0    98850.0
6    2021        Audi          A7  69200.0   103800.0
..    ...         ...         ...      ...        ...
235  2021       Volvo         V60  40950.0    61425.0
236  2021  Volkswagen      Tiguan  25245.0    37867.5
237  2021       Volvo        XC40  33700.0    50550.0
238  2021       Volvo        XC60  41700.0    62550.0
239  2021       Volvo        XC90  49000.0    73500.0

[238 rows x 5 columns]

In [108]:
# compute the mean SGD price for each make

car_price_model.groupby('Make')['SGD Price'].mean()

Make
Acura             56250.000000
Alfa Romeo        62025.000000
Audi              87321.428571
BMW               76185.000000
Buick             44812.500000
Cadillac          75774.642857
Chevrolet         52144.875000
Chrysler          47525.000000
Dodge             46005.000000
FIAT              38722.500000
Ford              51438.750000
GMC               54516.666667
Genesis           77081.250000
Honda             43070.625000
Hyundai           37393.392857
INFINITI          71950.000000
Jaguar            83133.750000
Jeep              44734.687500
Kia               36940.500000
Land Rover       102112.500000
Lexus             81964.500000
Lincoln           87792.000000
MAZDA             38881.875000
Mercedes-Benz    101105.625000
Mitsubishi        31492.500000
Nissan            42888.750000
Polestar          89850.000000
Porsche          113600.000000
Ram               52771.250000
Rivian           114375.000000
Subaru            36955.000000
Tesla            112057.500000
Toyota            50397.900000
Volkswagen        38457.500000
Volvo             69300.000000
Name: SGD Price, dtype: float64