## Car sales program:

### Carry out the following tasks in JupyterLab:
###### Select the column (variable) “Make” from the DataFrame.
###### Select all entries with the value “Audi” in the variable “Make” from the DataFrame.
###### Select the last 10 observations and only the variable “Year” from the Dataframe

In [1]:
import pandas as pd

car_model = pd.read_csv("car_model.csv")

In [2]:
car_model["Make"]

0              Ford
1             Chevy
2             Chevy
3              Jeep
4            Toyota
5             Honda
6            Nissan
7              Ford
8       Range Rover
9             Volvo
10              BMW
11    Mercedes Benz
12           Subaru
13             Audi
14    Mercedes Benz
15             Ford
16           Ferrai
17        American
18         Kawasaki
19         Daihatsu
20            Tesla
Name: Make, dtype: object

In [3]:
car_model.set_index(['Make'], inplace = True)
car_model

               Year                                   Model           Category
Make
Ford           2000                                    E350             Family
Chevy          2001              Venture "Extended Edition"              Sedan
Chevy          2002  Venture "Extended Edition, Very Large"             Sports
Jeep           2003                          Grand Cherokee            Unknown
Toyota         2004                                    Wish                SUV
Honda          2005                                    Jaxx                SUV
Nissan         2006                                 Skyline                SUV
Ford           2007                                 Mustang              Sedan
Range Rover    2008                              Pathfinder                SUV
Volvo          2009                                      X6              Sedan
BMW            2010                                      i3                SUV
Mercedes Benz  2011                                 C cLass                SUV
Subaru         2012                                     BRZ              Sedan
Audi           2013                                      R8              Sedan
Mercedes Benz  2014                                     G50                SUV
Ford           2015                                    F450  TeasportTransport
Ferrai         2016                                  Spider             Sports
American       2017                                 Chopper           Personal
Kawasaki       2018                                   Ninja             Luxury
Daihatsu       2019                                   Super              Sedan
Tesla          2020                                 Model S              Sedan

In [4]:
car_model.loc[['Audi'], :]

      Year Model Category
Make
Audi  2013    R8    Sedan

In [5]:
car_model[['Year']].iloc[-10:]

               Year
Make
Mercedes Benz  2011
Subaru         2012
Audi           2013
Mercedes Benz  2014
Ford           2015
Ferrai         2016
American       2017
Kawasaki       2018
Daihatsu       2019
Tesla          2020