### Car sales program:

##### Carry out the following tasks in JupyterLab:

##### Remove all the rows with missing data in “price” from the merged DataFrame created in the previous chapter.

In [1]:
import pandas as pd

car_model_price = pd.read_csv("car_model_price.csv")
car_model_price

,Unnamed: 0,Year,Make,Model,Category,Price
0,0,2000,Ford,E350,Family,31489.586290
1,1,2001,Chevy,"Venture ""Extended Edition""",Sedan,54967.447750
2,2,2002,Chevy,"Venture ""Extended Edition, Very Large""",Sports,NaN
3,3,2003,Jeep,Grand Cherokee,Unknown,50508.905890
4,4,2004,Toyota,Wish,SUV,NaN
5,5,2005,Honda,Jaxx,SUV,29106.682640
6,6,2006,Nissan,Skyline,SUV,47948.167620
7,7,2007,Ford,Mustang,Sedan,39035.069340
8,8,2008,Range Rover,Pathfinder,SUV,17960.838230
9,9,2009,Volvo,X6,Sedan,NaN
10,10,2010,BMW,i3,SUV,51615.344490
11,11,2011,Mercedes Benz,C cLass,SUV,7522.392529
12,12,2012,Subaru,BRZ,Sedan,21631.666240
13,13,2013,Audi,R8,Sedan,38356.588750
14,14,2014,Mercedes Benz,G50,SUV,65594.423910
15,15,2015,Ford,F450,TeasportTransport,2899.589514
16,16,2016,Ferrai,Spider,Sports,69035.947650
17,17,2017,American,Chopper,Personal,79667.596120
18,18,2018,Kawasaki,Ninja,Luxury,94841.274830
19,19,2019,Daihatsu,Super,Sedan,99393.880830
20,20,2020,Tesla,Model S,Sedan,14426.696630

In [2]:
car_model_price_clean = car_model_price.dropna(axis = 0, how = 'any')
car_model_price_clean

,Unnamed: 0,Year,Make,Model,Category,Price
0,0,2000,Ford,E350,Family,31489.586290
1,1,2001,Chevy,"Venture ""Extended Edition""",Sedan,54967.447750
3,3,2003,Jeep,Grand Cherokee,Unknown,50508.905890
5,5,2005,Honda,Jaxx,SUV,29106.682640
6,6,2006,Nissan,Skyline,SUV,47948.167620
7,7,2007,Ford,Mustang,Sedan,39035.069340
8,8,2008,Range Rover,Pathfinder,SUV,17960.838230
10,10,2010,BMW,i3,SUV,51615.344490
11,11,2011,Mercedes Benz,C cLass,SUV,7522.392529
12,12,2012,Subaru,BRZ,Sedan,21631.666240
13,13,2013,Audi,R8,Sedan,38356.588750
14,14,2014,Mercedes Benz,G50,SUV,65594.423910
15,15,2015,Ford,F450,TeasportTransport,2899.589514
16,16,2016,Ferrai,Spider,Sports,69035.947650
17,17,2017,American,Chopper,Personal,79667.596120
18,18,2018,Kawasaki,Ninja,Luxury,94841.274830
19,19,2019,Daihatsu,Super,Sedan,99393.880830
20,20,2020,Tesla,Model S,Sedan,14426.696630

##### Detect car models that can be considered as outliers in terms of their selling price.

##### Discuss whether the models with extraordinarily high/low selling prices should be excluded from the DataFrame.

In [3]:
q1 = car_model_price_clean['Price'].quantile(q = 0.4)
q3 = car_model_price_clean['Price'].quantile(q = 0.5)
iqr = q3-q1

y1 = q1 - 1.5*iqr
y2 = q3 + 1.5*iqr

print(f"Lower Bound:\n {y1}")
print(f"Upper Bound:\n {y2}")

Lower Bound:
 27220.542925000016
Upper Bound:
 53254.263813

In [4]:
car_outlier = car_model_price_clean[~( 
    (car_model_price_clean["Price"]< y1) | (car_model_price_clean["Price"]> y2)
)]

car_outlier

    Unnamed: 0  Year    Make           Model Category        Price
0            0  2000    Ford            E350   Family  31489.58629
3            3  2003    Jeep  Grand Cherokee  Unknown  50508.90589
5            5  2005   Honda            Jaxx      SUV  29106.68264
6            6  2006  Nissan         Skyline      SUV  47948.16762
7            7  2007    Ford         Mustang    Sedan  39035.06934
10          10  2010     BMW              i3      SUV  51615.34449
13          13  2013    Audi              R8    Sedan  38356.58875

In [7]:
car_outlier.to_csv("car_outlier.csv", index = False)